{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      },
      "plugins": [
        ["import", {
          "libraryDirectory": "lib",
          "camel2DashComponentName": false
        }]
      ]
    }]
  ]
}
